<nav class="navbar">
    <div class="logo-container">
        <a href="#ROOT_PATH#index.html" class="logo-link">
            <img src="#ROOT_PATH#assets/images/logo/sf_logo_1_2.png" alt="Logo San Francisco" class="logo-img">
        </a>
    </div>

    <button class="menu-toggle" aria-label="Toggle menu">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-links">
        <li><a href="#ROOT_PATH#index.html">Inicio</a></li>
        <li><a href="#ROOT_PATH#pages/construccion.html">Noticias</a></li>
        <li class="dropdown">
            <a href="#">Nosotros <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="#ROOT_PATH#pages/nosotros/historia.html">Historia</a></li>
                <li><a href="#ROOT_PATH#pages/nosotros/mision-vision.html">Misión y Visión</a></li>
                <li><a href="#ROOT_PATH#pages/nosotros/himno.html">Himno</a></li>
                <li><a href="#ROOT_PATH#pages/construccion.html">Autoridades</a></li>
                <li><a href="#ROOT_PATH#pages/construccion.html">Cuadro de Honor</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Estudiantes <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="#ROOT_PATH#pages/construccion.html">Admisiones</a></li>
                <li><a href="#ROOT_PATH#pages/construccion.html">Actividades</a></li>
                <li><a href="#ROOT_PATH#pages/construccion.html">Calendario</a></li>
                <li><a href="https://estudiante.colegiosanfrancisco.edu.ec/">Sistema Académico Estudiantes</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Padres <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="#ROOT_PATH#pages/construccion.html">Circulares</a></li>
                <li><a href="#ROOT_PATH#pages/construccion.html">Tutorías</a></li>
                <li><a href="https://ppff.colegiosanfrancisco.edu.ec/">Sistema Académico Padres</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Docentes <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="#ROOT_PATH#pages/construccion.html">Plana Docente</a></li>
                <li><a href="#ROOT_PATH#pages/construccion.html">Recursos</a></li>
                <li><a href="#ROOT_PATH#pages/construccion.html">Capacitaciones</a></li>
                <li><a href="https://docente.colegiosanfrancisco.edu.ec/">Sistema Académico Docentes</a></li>
            </ul>
        </li>
        <li><a href="#ROOT_PATH#pages/contacto.html">Contacto</a></li>
    </ul>
</nav>
